@model IEnumerable<MyWork.Models.VW_LISTCOUNT>

@{
    ViewBag.Title = "Index";
}


<h2>Welcome !!</h2>

<p>
    【隨時更新中】
</p>

<p>
    @using (Html.BeginForm("Index", "VWLISTCOUNT", FormMethod.Get))
    {
    <p>
       <!-- 客戶類別: @Html.DropDownList("客戶分類", "All")  -->
        @Html.Editor("type" , "客戶分類")
        @Html.TextBox("keyword" , null, new { type = "search" , placeholder = "請輸入關鍵字", @class = "form - control text" })
              <input type="submit" value="查詢" class="btn  btn-default " />
    </p>
    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.聯絡人數量)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.銀行帳戶數量)
        </td>
        <td>
         
        </td>
    </tr>
}

</table>
